language: elixir
sudo: false
elixir:
  - 1.3
otp_release:
  - 18.3
  - 19.0
before_script:
  - mix local.hex --force
  - mix deps.get --only test
script: mix test
after_script:
  - MIX_ENV=docs mix deps.get